body {
	background-color: #ecf0f1;
	font-family: "Source Sans Pro", sans-serif;
}

#bCard{
	max-width: 50%;
	padding: 20px;
	background: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.quote{
	font-weight: 200;
	font-style: italic;
	font-size: 1.5rem;
}
		