body {
	background-color: #ecf0f1;
	font-family: "Source Sans Pro", sans-serif;
}

#bCard{
	max-width: 50%;
	padding: 20px;
	background: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);
}

.quote{
	font-weight: 200;
	font-style: italic;
	font-size: 1.5rem;
}

img {
	border-radius: 200px;
	border: 5px solid #ecf0f1;
	width: 50%;
	max-width: 150px; 
}

a{
	color:#ECF0f1;

}
a:visited{
	color:#ECF0f1;

}

a:hover{
	color:#2980b9;
}
		